*{
    font-family: 'Raleway', sans-serif;
}
#logo{
    color: #e1bc6b;
}
#logo:hover{
    color: #86692b;
}
#link{
    color: white;
}
#link:hover{
    color: #e1bc6b;
}
#link-dsc{
    color: white;
}
#link-dsc:hover{
    color: #e1bc6b;
}
#dsc-body{
    background-color: black;
}
#index-card{
    margin-top: 30px;
}
#index-card-end{
    margin-top: 30px;
    margin-bottom: 30px;
}
#dsc-link{
    color: #7289da;
}
#dsc-card{
    margin-top: 20%;
    margin-bottom: 0;
    border: 5px groove #e1bc6b;
}
#card-body-dsc{
    padding: 40px;
}
#welcome-message{
    background-color: #e1bc6b;
    color: #000000;
    border: 1px solid #a07823;
}
.dsc-channel{
    background-color: #7289da;
    padding: 3px;
    border-radius: 5px;
    color: white;
    border: 1px solid #4f5f9c;
}
.card{
    color: black;
    height: 50%;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}
#dsc-logo{
    height: 100px;
    width: 100px;
    color: #7289da;
}
body{
    background-image: url(https://img.freepik.com/free-vector/sword-shield-seamless-background-backdrop_1284-45995.jpg);
    color: white;
}
.cont{
    display: block;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#donation-body{
    background-color: grey;
}
#index-body{
    background-color: black;
}
iframe{
    margin-top: 10px;
}
#letter-icon{
    width: 70px;
    height: 70px;
}
#admin-table{
    margin: 10px;
    max-width: 700px;
    border: 2px solid #e1bc6b;
    text-align: center;
}
.enumerated{
    font-weight: 700;
}
#link-to-admins{
    color: #86692b;
}
#dsc-n-donate{
    background-color: #86692b;
    border: none;
}
#dsc-n-donate:hover{
    background-color: #a88332;
    color: black;
}
#giveaway-button{
    background-color: #86692b;
    border: none;
}
#giveaway-button:hover{
    background-color: #a88332;
    color: black;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e1bc6b; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #86692b;
  }

@media (max-width: 991px){
    .nav-link{
        text-align: center;
    }
    #toggler{
        background-color: #e1bc6b;
    }
}
